[submodule "vicious"]
	path = vicious
	url = http://git.sysphere.org/vicious
[submodule "revelation"]
	path = revelation
	url = git@github.com:guotsuan/awesome-revelation.git
[submodule "lain"]
	path = lain
	url = git@github.com:jaimemachado/lain.git
